{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="m-5">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div>Your password can’t be too similar to your other personal information.</div>
        <div>Your password must contain at least 8 characters.</div>
        <div>Your password can’t be a commonly used password.</div>
        <div>Your password can’t be entirely numeric.</div>

        <input class='mt-3' type="submit" value="{% trans 'Submit' %}" />
    </form>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http: //docs.djangoproject.com/en/dev/topics/forms />`_ for
information on how to display this in a template.
{% endcomment %}