.banner {
  height: 10rem;
  background-image:
  linear-gradient(
      to right,
      rgba(0, 36, 0, 0.8),
      rgba(0, 36, 0, 0.8)
  ),
  url(https://images.pexels.com/photos/106052/pexels-photo-106052.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right 50% top -450px ;
  color: white;
  border-bottom: solid .25rem #AEB2A9;
  width: 100%;
}

.login {
  border: 3px solid black;
  
}
.form-control {
  height: 25px;
}

.btn{
  background-color: #002400;
  color: white;
}

.btn:hover{
  color: white;
}

.navbar{
 
  background-color: #7D5F4F;
  color: white;
}

.text-large{
  font-size: xxx-large;
}

img { 
  width: 100%; 
  height: 100%; 
  object-fit: contain
}

.logo{
  height: 10rem;
  width: auto;
}

.banner-text{
  display: inline-block;
}

.navbar-item{
  display: inline-block;
  border-right: 1px solid #AEB2A9;
}

.navbar-item:hover {
  background-color: #AEB2A9;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.username {
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.search{
  border: 0.10rem solid black;
  padding: 10%;
}

.landingPageContent{

    position: fixed;
    right: 26%;
    bottom: 20rem;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
}

.landingLink{
  display: block;
  color: white;
}

.landingLink:hover{
  text-decoration: underline;
  color: white;
}