.banner {
  background-color: #002400 ;
  color: white;
  border-bottom: solid .25rem #AEB2A9;
  width: 100%;
}

.login {
  border: 3px solid black;
  
}
.form-control {
  height: 25px;
}

.btn{
  background-color: #002400;
  color: white;
}

.btn:hover{
  color: white;
}

.navbar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #7D5F4F;
  position: sticky;
  top: 0;
  
}

img { 
  width: 100%; 
  height: 100%; 
  object-fit: contain
}

.logo{
  height: 10rem;
  width: auto;
}

.banner-text{
  display: inline-block;
}

.navbar-item{
  display: inline-block;
  border-right: 1px solid #AEB2A9;
}

.navbar-item:hover {
  background-color: #AEB2A9;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.username {
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.org-search{
  border: 0.10rem solid black;
}


