{% extends "base.html" %}

{% block content %}
<div>
    <ul class='navbar-list d-flex justify-content-end'>
        <p>Hello {{user.username}}!</p>
        <li class="navbar-item"><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
        <li class="navbar-item"><a href="{% url 'view_user_profile' user_pk=user.pk %}" class="nav-link">Your Profile</a></li>
        <li class="navbar-item"><a href="{% url 'add_request_offer' %}" class="nav-link">Create a Post</a></li>
        <li class="navbar-item"><a href="{% url 'browse_organizations' %}" class="nav-link">Organizations</a></li>
        <li class="navbar-item"><a href="{% url 'view_all_events' %}" class="nav-link">Events</a></li>
        <li class="navbar-item"><a href="{% url 'list_tags' %}" class="nav-link">Search Posts by Tag</a></li>
        <li class="navbar-item"><a href="{% url 'auth_logout' %}" class="nav-link">Logout</a></li>
    </ul>
</div>


<h2>Add an Event</h2>

<form action="{% url 'add_event' %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit">Add Event</button>
    </div>
</form>


{% endblock %}