{% extends 'base.html' %} {% load mapbox_location_field_tags %} {%
    location_field_includes %} {% load render_bundle from webpack_loader %} {% load static %} {% block content %}


<h1 class="text-center mt-4">Add an Organization</h1>
<div class='container mt-5'>
    <div class="row">
        <div class="col-6">
            <!-- <div></div> -->
            <form class="" action="{% url 'add_organization' %}" method="POST" id='post-form'
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- <div class='post-form'> -->
                <!-- <div class="form-group">
                            {{ form.as_p }}
                        </div> -->
                <div>
                    <button class="" type="submit">Submit</button>
                </div>
            </form>
            <!-- {{ form.media }} -->
        </div>

        <div class="col-6">
            <div class='preview'>
            </div>
        </div>

    </div>
</div>

{% endblock %}