{% extends 'base.html' %} {% load render_bundle from webpack_loader %} {% load static %} {% block content %}


<h1 class="text-center mt-4">Make A Request or Add Your Offering</h1>
<div class='container mt-5'>
    <div class="row">
        <div class="col-6">

            <form class="" action="{% url 'add_request_offer' %}" method="POST" id='post-form'
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }} {{ form.media }}
                <div>
                    <button class="btn" type="submit">Submit</button>
                </div>

            </form>

        </div>

        <div class="col-6">
            <div class='preview'>
            </div>
        </div>
    </div>
</div>



{% endblock %}