{% extends 'base.html' %} {% load mapbox_location_field_tags %} {%
location_field_includes %} {% load static %} {% block content %}

<h1>Add Your Request / Add Your Offering</h1>

<div>
  <form class="" action="{% url 'add_request_offer' %}" method="POST">
    {% csrf_token %}
    <div class='post-form'>
    <div class="form-group">
      {{ form.as_p }}
    </div>
    <div>
      <button class="" type="submit">Submit</button>
    </div>
  </form>
  {{ form.media }}
</div>
</div>

<div id="map" style="width: 400px; height: 300px;"></div>
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiYWt1czA2MjM4MSIsImEiOiJja2N3NWNxejIwYXBmMnlzNDdiMm14YndpIn0.ULNpUBNdsKUD1tFIJ7TWCA";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
  });
</script>

{% endblock %}
