{% extends "base.html" %}



{% block content %}


<div class="mt-4 p-4">
    <h2 class="text-center">Organizations in your community</h2>
</div>


<div class="row">
    <div class="ml-3 col-4">
        <a class="btn ml-5 mb-2" href="{% url 'add_organization' %}" role="button">Create an Organization</a>


        <div class="ml-5 mt-4 search">
            <h4 class="ml-5 mt-5 mb-2">Find an Organization</h4>

            <form class="ml-5 mt-5 mb-5" action="{% url 'search_organizations' %}" method='GET'>
                <input type='search' name='q' placeholder="Enter search here" class="">
                <p>
                    <button class="btn mt-5 mb-5" type="submit">Show Results</button>

                </p>
            </form>
        </div>
    </div>

    <div class="col-7 mt-5 ml-3 p-2">
        {% for organization in organizations.all %}
        <div class="card" style="width: 100%;">
            <img src="{{ organization.picture.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ organization.name }}</h5>
                <p class="card-text">{{ organization.mission }}</p>
                <a href="{% url 'view_organization' organization_pk=organization.pk %}" class="btn" role="button">More
                    Details</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>









{% endblock %}