{% extends "base.html" %}



{% block content %}


<button><a href="{% url 'add_organization' %}">Create an Organization</a></button>

<h4>Find an Organization</h4>

<form action="{% url 'search_organizations' %}" method='GET'>
    <input type='search' name='q' placeholder="Enter search here" class="">
    <p>
        <button class="" type="submit">Show Results</button>
        
    </p>
</form>


<h2>Browse Through Organizations</h2>

<ul>
    {% for organization in organizations.all %}
        <li><a href="{% url 'view_organization' organization_pk=organization.pk %}">{{ organization.name }}</a></li>
    {% endfor %}
</ul>


{% endblock %}