{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <span><a href="{% url 'view_user_profile' user_pk=user.pk %}"> Profile </a></span>
    <span><a href="{% url 'auth_logout' %}"> logout</a></span>
</div>

<div><a href="{% url 'add_request_offer' %}"> make a new request or offer </a></div>

{% for post in posts %}
<div>
    <div class="card" style="width: 18rem;">
        <img src="{{ post.post_image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h5>
            <span class="card-subtitle mb-2 text-muted">{{ post.request_or_offer}}</span>
            <span class="card-subtitle mb-2 text-muted">{{ post.category }}</span>
            <p class="card-text">{{ post.post_text }}</p>
            <footer class="card-footer text-muted">{{ post.address }}</footer>
        </div>
    </div>
</div>
{% endfor %}

<div>
    {{ user.community }}
</div>

{% endblock %}