{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <button><a href="{% url 'view_user_profile' user_pk=user.pk %}"> Profile </a></button>
    <button><a href="{% url 'auth_logout' %}">Logout</a></button>
</div>

<a href="{% url 'add_request_offer' %}"> make a new request or offer </a>


{% for post in posts %}
<div>{{ post.title }}</div>
<div>{{ post.community }}</div>
<div>{{ post.post_text }}</div>
<a id="post_comments" data-post-id="{{ post.pk }}" href="#">???</a>
{% endfor %}

{% endblock %}
