{% extends "base.html" %}
{% block content %}
<h1 class="text-center mt-4">Your community's needs and offers</h1>
<div class="row">

    <div class="col-4">
        <a class="btn ml-5 mb-2" href="{% url 'add_request_offer' %}" role="button"> Make a New Request or Offer
        </a>
        <div class="ml-5 mt-4 search">
            <h4 class="mb-4">Search Posts by Tag</h4>

            <form action="{% url 'search_tags' %}" method='GET'>
                <input type='search' name='q' placeholder="Enter a single tag" class="">
                <div>
                    <button class="btn mt-3 mb-5" type="submit">Show Results</button>

                </div>
            </form>

            <h4 class="mb-4">Search by Category</h4>

            <form action="{% url 'search_category' %}" method='GET'>
                <input type='search' name='category' placeholder="Select from dropdown" list="brow">
                <datalist id="brow">
                    <option value="kids">
                    <option value="outdoors">
                    <option value="services">
                    <option value="food">
                    <option value="clothing">
                    <option value="homegoods">
                    <option value="furniture">
                    <option value="books">
                </datalist>
                <div>
                    <button class="btn mt-3 mb-5" type="submit">Show Results</button>
                </div>

            </form>
        </div>

    </div>


    <div class="col-7">
        {% for post in posts %}
        <div class="card mt-5" style="width: 100%;" data-post-id="{{ post.id }}">
            <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h5>
                <span class="card-subtitle mb-2 text-muted">{{ post.request_or_offer}} |</span>
                <span class="card-subtitle mb-2 text-muted">{{ post.category }}</span>
                <p class="card-text">{{ post.post_text }}</p>
                <footer class="card-footer text-muted">{{ post.address }}</footer>
            </div>
        </div>
        <div class="commentSection" data-post-id="{{ post.id }}"></div>

        {% endfor %}
    </div>

</div>



{% endblock %}