{% extends "base.html" %}

{% block content %}



<h4>Search Posts by Tag</h4>

<form action="{% url 'search_tags' %}" method='GET'>
    <input type='search' name='q' placeholder="Enter search here" class="">
    <p>
        <button class="" type="submit">Show Results</button>
        
    </p>
</form>
<br>
<h5>Current Available Tags</h5>
<h6>Click on a tag to view related posts</h6>


<ul>
    {% for tag in tags %}
        <li><a href="{% url 'view_tag' tag_name=tag.tag %}">{{ tag.tag }}</a></li>
    {% endfor %}
</ul>





{% endblock %}