{% extends "base.html" %}

{% block content %}
<div>
    <ul class='navbar-list'>
        <li class="navbar-item"><a href="{% url 'view_user_profile' user_pk=user.pk %}" class="nav-link"> Profile </a>
        </li>
        <li class="navbar-item"><a href="{% url 'auth_logout' %}" class="nav-link"> Logout</a></li>
        <li class="navbar-item"><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
    </ul>
</div>

<div>
    <div class="">Title: {{ post.title }}</div>
    <div class="">Text: {{ post.post_text }}</div>
    <img src="{{ post.post_image.url }}" alt="My image" />
</div>

<div>
    <a href="{% url 'delete_post' post_pk=post.pk %}">Delete this post</a>
</div>

{% endblock %}