{% extends 'base.html' %}

{% block content %}



<h2 class="mt-4 p-4">Search Tags to Locate Posts</h2>
<div class="container">
    <div class="row">

        <div class="col-6">
            <div class="search">
                <form action="{% url 'search_tags' %}" method='GET'>
                    <input type='search' name='q' placeholder="Enter search here" class="">
                    <div>
                        <button class="btn mt-4" type="submit">Show Results</button>
                    </div>

                </form>
            </div>

            <div class="col-6 mt-4">
                <h6>Results:</h6>
                <ul>
                    {% if tags is not None %}
                    {% for tag in tags %}
                    <li><a class="pageLink" href="{% url 'view_tag' tag_name=tag.tag %}">{{ tag }}</a></li>
                    {% empty %}
                    <p>No results match your query.</p>
                    {% endfor %}
                    {% endif %}
                </ul>

            </div>
        </div>

    </div>
</div>




{% endblock %}