{% extends 'base.html' %}

{% block content %}



<h2>Find What You Need or Find Someone to Help</h2>

<form action="{% url 'search_posts' %}" method='GET'>
    <input type='search' name='q' placeholder="Enter search here" class="">
    <p>
        <button class="" type="submit">Show Results</button>
        <button><a href="{% url 'homepage' %}">Back to Home</a></button>
    </p>
</form>
<br>
<h6>Results:</h6>
<ul>
{% if posts is not None %}
    {% for post in posts %}
        <li><a class="" href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></li>
    {% empty %}
        <p>No results match your query.</p>
    {% endfor %}
{% endif %}
</ul>




{% endblock %}