{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-3">
        <img src="{{ user.profile_pic.url }}">
    </div>
    <div class="col-7">
        <h1>{{ user.username}} </h1>
        <p>Your Community: {{ user.community }}</p>
        <a href="{% url 'edit_user_profile' user_pk=user.pk %}" class="btn" role="button"> Edit Profile Picture</a><br>
    </div>
</div>

<div id='user-posts' class="ml-4">
    <h1 class="text-center mt-4 p-4">Your Posts</h1>
    {% for post in user.posts.all %}
    <div>
        <div class="card" style="width: 50%;">
            <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h5>
                <span class="card-subtitle mb-2 text-muted">{{ post.request_or_offer}}</span>
                <span class="card-subtitle mb-2 text-muted">{{ post.category }}</span>
                <p class="card-text">{{ post.post_text }}</p>
                <footer class="card-footer text-muted">{{post.address}}</footer>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}