{% extends "base.html" %}

{% block content %}


<button><a href="{% url 'add_event' %}">Create an Event</a></button>

<h2>Search Events</h2>

<form action="{% url 'search_events' %}" method='GET'>
    <input type='search' name='q' placeholder="Enter search here" class="">
    <p>
        <button class="" type="submit">Show Results</button>
        <button><a href="{% url 'view_all_events' %}">Back to Browse</a></button>
    </p>
</form>

<h2>Browse Events</h2>

<ul>
    {% for event in events.all %}
        <li><a href="{% url 'view_event_page' event_pk=event.pk %}">{{ event.event_title }}</a></li>
    {% endfor %}
</ul>


{% endblock %}