{% extends "base.html" %}

{% block content %}

<div>
    <ul class='navbar-list'>
        <li class="navbar-item"><a href="{% url 'auth_logout' %}" class="nav-link"> Logout</a></li>
        <li class="navbar-item"><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
    </ul>
</div>

<div>
    <p> {{ user.username}} </p>
    <a href="{% url 'edit_user_profile' user_pk=user.pk %}"> edit your profile</a>
    <p>your community: {{ user.community }}</p>
</div>

<div id='user-posts'>
    <p>your posts</p>
    {% for post in user.posts.all %}
    <div>
        <div class="card" style="width: 18rem;">
            <img src="{{ post.post_image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post_detail' post_pk=post.pk %}">{{ post.title }}</a></h5>
                <span class="card-subtitle mb-2 text-muted">{{ post.request_or_offer}}</span>
                <span class="card-subtitle mb-2 text-muted">{{ post.category }}</span>
                <p class="card-text">{{ post.post_text }}</p>
                <footer class="card-footer text-muted">{{post.address}}</footer>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}