{% extends "base.html" %}

{% block content %}
<div>
    <p>Organization Profile</p>
    <img src="{{ organization.picture.url }}"/>
    <p>Organization Creator: {{ organization.creator }}</p>
    <p>{{ organization.name }}</p>
    <p>{{ organization.located_at }}</p>
    <p>{{ organization.creator.community }}</p>
    <p>Mission Statement: {{ organization.mission }}</p>
</div>

<p><a href="{% url 'add_member' organization_pk=organization.pk %}">Click to Join</a></p>

<p>Members:</p>
<ul>
    {% for member in organization.members.all %}
      <li><a href="{% url 'view_user_profile' user_pk=user.pk %}">{{ member }}</a></li>
    {% endfor %}
  </ul>


{% endblock %}