{% extends "base.html" %}

{% block content %}


<h2 class="text-center">Browse Events</h2>
<div class='row'>


    <div class=" ml-3 col-4">
        <a href="{% url 'add_event' %}" class="btn ml-5 mt-5" role="button">Create an Event</a>

        <div class=" ml-5 mt-4 search">
            <h2>Search Events</h2>
            <form action="{% url 'search_events' %}" method='GET'>
                <input type='search' name='q' placeholder="Enter search here" class="">

                <button class="mt-3 btn" type="submit">Show Results</button>

            </form>

        </div>
    </div>


    <div class="col-7 mt-5 ml-3 p-2">
        {% for event in events.all %}
        <div class="card" style="width: 100%;">
            <img src="{{ event.event_pic.url }}" class="card-img-top" alt="event pic">
            <div class="card-body">
                <h5 class="card-title">{{ event.event_title }}</h5>
                <p class="card-text">{{ event.event_text }}</p>
                <a href="{% url 'view_event_page' event_pk=event.pk %}" class="btn " role="button">More Details</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>





{% endblock %}